<div class="container pt-5" style="margin-top: 5mm;">
    <div class="row text-center align-items-center">

        <div class="col-12 col-md-6">
            <img class="container-fluid rounded-circle w-75 center-align" 
            src="/assets/images/praneeth.jpeg" alt="praneeth_rao"/>
        </div>
        <div class="col-12 col-md-6 pt-5">
            <div class="text-nowrap" style="font-size:50px;">
                HI,I am <span class="text-primary">Praneeth_Rao</span>
            </div>
            <h4>I am from <span class="text-primary">CMRIT</span>,Hyderabad</h4>
        </div>
    </div>
</div>
