<footer class="mt-4" style="width:100% ;">
    <div class="container-fluid text-center" style="background-color: rgba(120, 171, 212, 0.945);">
        
        <div class="row pt-3">
            <div class="col-12 col-md-6">
                <h5 class="text-secondary pt-3">More links</h5>
                <a href="/" class="text-light px-3">Home</a>
                <a routerLink="/certifications" class="text-light px-3">Certifications</a>
                <a href="#" class=" text-light px-3 text-nowrap">Contact Me</a>
                <a href="#" class="text-light text-nowrap d-block">Write a recomendation</a>

            </div>
            
            <div class="col-12 col-md-6">
                <h5 class="text-secondary pt-2">Social</h5>
                <a href="https://www.linkedin.com/in/PraneethRaoA" target="blank">
                    <i class="fab fa-linkedin text-light h2 px-3"></i>
                </a>
                <a href="https://github.com/PraneethRaoA" target="blank">
                    <i class="fab fa-github text-light h2 px-3"></i>
                </a>
                <a href="https://www.hackerrank.com/18R01A0563?hr_r=1" target="blank">
                    <i class="fab fa-hackerrank text-light h2 px-3"></i>
                </a>
                <a href="mailto:annamaneni.praneethrao@gmail.com">
                    <i class="fas fa-envelope text-light h2 px-3"></i>
                </a>

            </div>

        </div>
        <div class="text-muted py-3">
            <p>Copyright © Praneeth_Rao </p>
        </div>
        
    </div>
</footer>