<div>
    <h1 class="text-center bg-light py-3">Certifications</h1>
    <div class="container text-center pt-2 ">
        <div class="row my-5 pt-3" style="padding-left: 4cm; padding-right: 4cm;">
            <div class="col-12 col-md-6  my-2">
                <div class="card shadow" >
                    <img class="card-img-top" src="/assets/images/coursera.png" alt="free-stock-image-1">
                    <div class="card-body">
                        <h4 class="card-title"style=" overflow: hidden; max-width: 35ch;text-overflow: ellipsis;white-space: nowrap;">
                            Introduction to HTML5
                        </h4>
                       
                        <a href="https://www.coursera.org/account/accomplishments/certificate/S9DCH4X8P64X" target="_blank" class="stretched-link"> View certificate</a>
                    </div>
                </div>
            </div>
        
        
            <div class="col-12 col-md-6  my-2">
                <div class="card shadow" >
                    <img class="card-img-top" src="/assets/images/coursera.png" alt="free-stock-image-1">
                    <div class="card-body">
                        <h4 class="card-title"style=" overflow: hidden; max-width: 35ch;text-overflow: ellipsis;white-space: nowrap;">
                            Introduction to Structured Query Language (SQL)
                        </h4>
                        
                        <a href="https://www.coursera.org/account/accomplishments/certificate/HARYJHUYKMBH" target="_blank" class="stretched-link"> View certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  my-2">
                <div class="card shadow" >
                    <img class="card-img-top" src="/assets/images/coursera.png" alt="free-stock-image-1">
                    <div class="card-body">
                        <h4 class="card-title"style=" overflow: hidden; max-width: 35ch;text-overflow: ellipsis;white-space: nowrap;">
                            Programming for Everybody (Getting Started with Python)
                            
                        </h4>
                        
                        <a href="https://www.coursera.org/account/accomplishments/certificate/7SBTHY9KWC36" target="_blank" class="stretched-link"> View certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  my-2">
                <div class="card shadow" >
                    <img class="card-img-top" src="/assets/images/coursera.png" alt="free-stock-image-1">
                    <div class="card-body">
                        <h4 class="card-title"style=" overflow: hidden; max-width: 35ch;text-overflow: ellipsis;white-space: nowrap;">
                            Python Data Structures 
                        </h4>
                        
                        <a href="https://www.coursera.org/account/accomplishments/certificate/LTUQC3PNNT4T" target="_blank" class="stretched-link"> View certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  my-2">
                <div class="card shadow" >
                    <img class="card-img-top" src="/assets/images/coursera.png" alt="free-stock-image-1">
                    <div class="card-body">
                        <h4 class="card-title" style=" overflow: hidden; max-width: 35ch;text-overflow: ellipsis;white-space: nowrap;">
                            Python Programming: A Concise Introduction
                        </h4>
                        
                        <a href="https://www.coursera.org/account/accomplishments/certificate/V6HEFXGWV3PT" target="_blank" class="stretched-link"> View certificate</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>